VITE_APP_NAME=Hlášky
VITE_BASE_PATH=/
VITE_API_URL_PRIMARY=https://script.google.com/macros/s/YOUR_PRIMARY_DEPLOYMENT_ID/exec
VITE_API_URL_FALLBACK=https://script.google.com/macros/s/YOUR_FALLBACK_DEPLOYMENT_ID/exec
VITE_API_TOKEN=replace-with-shared-token
VITE_CACHE_TTL_MS=300000

deplozment ID> AAKfycbyOcB54GsAZs9W4rwkVKlHOly6j-Q9wT9gAKC0gADPCrRvJ1o5bz5YbFmZ1dfmvEaHK8g
url> https://script.google.com/macros/s/AKfycbyOcB54GsAZs9W4rwkVKlHOly6j-Q9wT9gAKC0gADPCrRvJ1o5bz5YbFmZ1dfmvEaHK8g/exec
