VITE_APP_NAME=Hlášky
VITE_BASE_PATH=/
VITE_API_URL_PRIMARY=https://script.google.com/macros/s/YOUR_PRIMARY_DEPLOYMENT_ID/exec
VITE_API_URL_FALLBACK=https://script.google.com/macros/s/YOUR_FALLBACK_DEPLOYMENT_ID/exec
VITE_API_TOKEN=replace-with-shared-token
VITE_CACHE_TTL_MS=300000

deplozment ID> AKfycbycNnnOAoBSmGo20dXbib1gkHp017Uq2MbUKWTEMrk9lqAnNrTEMVG8e9XiG3AtbqpXrw
url> https://script.google.com/macros/s/AKfycbzMaWHa9mnPssmP1hUlc0M3c06qfoZfNSd7PHj6LH7xaADYzNO3j93P72Fr-Uy-Uqv5Og/exec
